# Prerequisites
*.d

# venv folder
/.venv/

# ipynb checkpoints
/src/__pycache__/

# Object files
*/obj/
*/dep/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

#Gitignore for LaTeX projects
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*/LaTeX/build/main.pdf
.DS_Store
notes/

# IDE files
.vscode/
# Ignore personal files
idea/

.ipynb_checkpoints/notebook-checkpoint.ipynb
logs/Production_avg_dur_testing_80-100.xes
logs/Production_avg_dur_training_0-80.xes
