# Prerequisites
*.d

# venv folder
/.venv/

# ipynb checkpoints
/src/__pycache__/

# Object files
*/obj/
*/dep/
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Gitignore for LaTeX projects
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*/LaTeX/build/main.pdf
.DS_Store
notes/

# Ignoring the data files
logs/

# Ignoring the binary files
/bin
# IDE files
.vscode/
# Test files
/test
# Ignore personal files
idea/
# Ignore python notebook files
/tools/dataElaboration/.ipynb_checkpoints
/tools/dataElaboration/__pycache__
tools/dataElaboration/tmp.ipynb
# Ignore temporary jobs file
/file
tools/__pycache__/__init__.cpython-313.pyc
.ipynb_checkpoints/elaborate_data-checkpoint.ipynb
